:root{
  --bg-color-white: #FFF;
  --bg-color-purple: #270327;
  --bg-color-fire: #FFA07A;

}
.boven .wrapper,
.onder .wrapper {
  display: inline-block;
  text-align: center;
}
.boven figcaption{
  text-decoration: none;
}
.boven img,
.onder img {
  display: block;
}

.nav {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  margin: -8px;
  margin-bottom: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav li {
  margin: 0 10px;
}
a{
    text-decoration: none;
}
.nav a {
    color: var(--bg-color-purple);
    font-size: xx-large;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease; /* Overgang voor onderstreping */
    font-weight: bolder;
    padding-bottom: 0.5rem;
  }

.uppernav {
  text-decoration: none;
  color: var(--bg-color-white); /* Wit */
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.uppernav:hover {
  border-bottom: 2px solid var(--bg-color-fire); /* Vuurachtige kleur */
}
footer{
    display: flex;
    justify-content: center;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-purple);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: var(--bg-color-white);
  padding: 20px;
  font-size: larger;
  
}

.boven .wrapper,
.onder .wrapper {
  display: inline-block;
  text-align: center;
}

.boven img,
.onder img {
  display: block;
}


  a{
    text-decoration: none;
  }
  
  .nav a:hover {
    border-bottom: 2px solid rgb(177, 15, 15); /* Onderstreping bij hover */
  }
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.container img{
  width: 200px;
}
