<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/styles/reset.css" />
	<link rel="stylesheet" href="/styles/style.css" />
<<<<<<< HEAD
	<link rel="icon" , href="/images/wizard.png" />
=======
	<script src="/javascript/errorBox.js"></script>
>>>>>>> 03abecd441336ff04e6da1337cf186682d4660af
	<title><%= title %></title>
</head>
