<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "404: PAGE NOT FOUND"}) %>
    <body>
        <%- include("partials/header", { pages: pages}) %>
        <main>
            <h1>404: PAGE NOT FOUND</h1>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
