<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head", { title: "500: INTERNAL SERVER ERROR"}) %>
	<body>
		<%- include("partials/header", { pages: pages }) %>
		<main class="error">
			<h1>500: INTERNAL SERVER ERROR</h1>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
