<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "Decks"}) %>
    
    <body>
        <header><%- include("partials/header") -%></header>
        <main>
            <section class="container">
                <!--
                <% for(let i =0;i < 5;i++){ %>
                    <article class="wrapper">
                        <a href="deck.html"><img src="images/tree.jpg">
                    <figcaption>DeckName</figcaption>
                    </article>
                <%}%>
                -->
                <article class="wrapper">
                    <a href="deck.html"><img src="images/deck1.jpeg">
                <figcaption>Deck 1</figcaption>
                </article>
                <article class="wrapper">
                    <a href="deck.html"><img src="images/tree.jpg">
                <figcaption>Deck 2</figcaption>
                </article>
                <article class="wrapper">
                    <a href="deck.html"><img src="images/deck2.jpeg">
                <figcaption>Deck 3</figcaption>
                </article>
                <article class="wrapper">
                    <a href="deck.html"><img src="images/deck3.png">
                <figcaption>Deck 4</figcaption>
                </article>
                <article class="wrapper">
                    <a href="deck.html"><img src="images/boom.webp">
                <figcaption>Deck 5</figcaption>
                </article>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
