<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Decks</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body id="decks-page-container">
        <header id="header">
            <!-- Header content here -->
        </header>
        <main>
            <section id="deck-list">
                <article id="deck-1" class="wrapper">
                    <a href="deck?number=1">
                        <img src="images/card-back.png">
                        <figcaption>Deck 1</figcaption>
                    </a>
                </article>
                <article id="deck-2" class="wrapper">
                    <a href="deck?number=2">
                        <img src="images/card-back.png">
                        <figcaption>Deck 2</figcaption>
                    </a>
                </article>
                <article id="deck-3" class="wrapper">
                    <a href="deck?number=3">
                        <img src="images/card-back.png">
                        <figcaption>Deck 3</figcaption>
                    </a>
                </article>
                <article id="deck-4" class="wrapper">
                    <a href="deck?number=4">
                        <img src="images/card-back.png">
                        <figcaption>Deck 4</figcaption>
                    </a>
                </article>
                <article id="deck-5" class="wrapper">
                    <a href="deck?number=5">
                        <img src="images/card-back.png">
                        <figcaption>Deck 5</figcaption>
                    </a>
                </article>
            </section>
        </main>
        <footer id="footer">
            <!-- Footer content here -->
        </footer>
    </body>
</html>

