<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "DrawTest"}) %>
    <body>
        <header><%- include("partials/header", { pages: pages }) %></header>
        <main>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>