<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "DrawTest"}) %>
    <body>
        <header><%- include("partials/header", { pages: pages }) %></header>
        <main>
            <div class="drawtest-grid">
                <select name="deck-choser" class="deck-choser-grid">
                    <option value="deck_1">deck1</option>
                    <option value="deck_2">deck2</option>
                    <option value="deck_3">deck3</option>
                    <option value="deck_4">deck4</option>
                    <option value="deck_5">deck5</option>
                </select>
            
                <input class="drawpercentage-grid" type="drawpercentage" placeholder="Cardname">
                <button class="track-grid" type="button">track</button>
                <p class="drawpercentage-display-grid">5%</p>

                <img id="drawpile-grid" src="images/card-back.png"alt="drawpile"></a>
                <button id="btn-draw-grid" type="button">draw</button>
                <button id="btn-reset-grid" type="button">reset</button>
                <img id="discardpile-grid" src="images/card-front.jpeg"alt="discardpile"></a>
            </div>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
