<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "DrawTest"}) %>
    <body>
        <header><%- include("partials/header", { pages: pages }) %></header>
        <main>
            <div class="drawtest-grid">
                <select name="deck-choser" class="deck-choser-grid">
                    <option value="deck_1">deck1</option>
                    <option value="deck_2">deck2</option>
                    <option value="deck_3">deck3</option>
                </select>
            
                <input class="drawpercentage-grid" type="drawpercentage" placeholder="Cardname">
                <button class = "track-grid" class="track" type="track">track</button>
                <p class="drawpercentage-display-grid">5%</p>

                <img class="drawpile-grid" src="images/tree.jpg"alt="drawpile"></a>
                <button class="btn-draw-grid" type="draw">draw</button>
                <button class="btn-reset-grid" type="reset">reset</button>
                <img class="discardpile-grid" src="images/tree.jpg"alt="discardpile"></a>
            </div>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
