<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "DrawTest"}) %>
    <body>
        <header><%- include("partials/header", { pages: pages }) %></header>
        <main>
            <label for="deck_choser"> deck to pick</label>

    <select name="deck_choser" id="deck_choser">
        <option value="deck_1">deck1</option>
        <option value="deck_2">deck2</option>
        <option value="deck_3">deck3</option>
    </select>

    <input type="drawpercentage">

    <button type="track">track</button>

    <p id="drawpercentage">drawpercentage</p>
    <img class="drawpile"src="\afbeeldingen\.png"alt="drawpile"></a>
    <img class="discardpile"src="\afbeeldingen\.png"alt="discardpile"></a>

    <button type="draw">draw</button>
    <button type="rese">reset</button>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
