<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head", {title: "home"}) %>

	<body>
		
		<header><%- include("partials/header") -%></header>
		<main>
			<form action="#" method="GET">
				<input
					type="search"
					name="searchTerm"
					id="searchInput"
					placeholder="Cardname"
				/>
				<button>Search</button>
			</form>

			<section class="container">
				<% for (let i = 0; i < 10; i++) { %> <%-
				include("partials/card", {card: cards[i]}) %> <%} %>
			</section>
			<div>
				<img src="" alt="" />
				<h2></h2>
				<p></p>
				<form action="#" method="GET" class="hidden">
					<select name="Deckname" multiple>
						<option value="A" selected>Deckname: A</option>
						<option value="B">Deckname: B</option>
						<option value="C">Deckname: C</option>
						<option value="D">Deckname: D</option>
						<option value="E">Deckname: E</option>
					</select>
				</form>
			</div>
		</main>
		<footer><%- include("partials/footer") -%></footer>
	</body>
</html>
