<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {title: "home"}) %>
    <body>
        <%- include("partials/header", { pages: ['home', 'decks', 'drawtest'] }
        ) %>
        <main></main>
        <%- include("partials/footer") %>
    </body>
</html>
