<!DOCTYPE html>
<html>
	<head>
		<script src="javascript/errorBox.js" defer></script>
	</head>
	
	<%- include("partials/head", {title: "landing page"}) %>
	<%#  <script>if(document.getElementsByClassName("a")){showErrorBox(errorMessage)}</script>%>
	<body>
		<div id="error-box" >
			<p id="paragraph-Landing">Er is een fout opgetreden. Controleer uw invoer en probeer het opnieuw.</p>
		  </div>
		<div class="container-landing">
			<div class="box">
				<a id="a-Landing" href="home">
					<img src="images/Mtg.jpg" alt="MTG" />
					<h2 id="heading-Landing"></h2>Mtg</h2>
				</a>
			</div>
			<div class="box">
				<a class="a" href="#">
					<img src="images/Fortnite.jpg" alt="Fortnite" />
					<h2 id="heading-Landing">Fortnite</h2>
				</a>
			</div>
			<div class="box">
				<a class="a" href="#">
					<img src="images/Fifa.jpeg" alt="Fifa" />
					<h2 id="heading-Landing">Fifa</h2>
				</a>
			</div>
			<div class="box">
				<a class="a" href="#">
					<img src="images/Pokemon.jpeg" alt="Pokemon" />
					<h2 id="heading-Landing">Pokemon</h2>
				</a>
			</div>
			<div class="box">
				<a class="a" href="#">
					<img src="images/NBB.png" alt="NBB" />
					<h2 id="heading-Landing">Nbb</h2>
				</a>
			</div>
			<div class="box">
				<a class="a" href="#">
					<img src="images/Lotr.jpg" alt="LOTR" />
					<h2 id="heading-Landing">Lotr</h2>
				</a>
			</div>
			<div class="box">
				<a class="a" href="#">
					<img src="images/LegoMasters.jpeg" alt="LegoMasters" />
					<h2 id="heading-Landing">LegoMasters</h2>
				</a>
			</div>
		</div>
	</body>
</html>
