<!DOCTYPE html>
<html> 
	<head>
		<script src="javascript/errorBox.js" defer></script>
	</head>
	<%- include("partials/head", {title: "landing page"}) %>
	<script>if(document.getElementsByClassName("a")){showErrorBox(errorMessage,"a")}</script>
	<body>
		<div class="container-landing">
			<div class="box-left">
				<a href="home">
					<img src="images/Mtg.jpg" alt="MTG" />
					<h2>Mtg</h2>
				</a>
			</div>
			<div class="box-right">
				<div class="box">
					<a class="a" href="#">
						<img src="images/Fortnite.jpg" alt="Fortnite" />
						<h2>Fortnite</h2>
					</a>
				</div>
				<div class="box">
					<a class="a" href="#">
						<img src="images/Fifa.jpeg" alt="Fifa" />
						<h2>Fifa</h2>
					</a>
				</div>
				<div class="box">
					<a class="a" href="#">
						<img src="images/Pokemon.jpeg" alt="Pokemon" />
						<h2>Pokemon</h2>
					</a>
				</div>
				<div class="box">
					<a class="a" href="#">
						<img
							src="images/NBB.png" alt="NBB"
						/>
						<h2>Nbb</h2>
					</a>
				</div>
				<div class="box">
					<a class="a" href="#">
						<img src="images/Lotr.jpg" alt="LOTR" />
						<h2>Lotr</h2>
					</a>
				</div>
				<div class="box">
					<a class="a" href="#">
						<img src="images/LegoMasters.jpeg" alt="LegoMasters" />
						<h2>LegoMasters</h2>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
