<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "Login"}) %>
    
<body>
  <header><%- include("partials/header") %></header>
  <div id="login">
    <figure id="login-image">
      <img src="images/wizard.png" alt="Logo">
    </figure>
    <div class="login">
      <div class="card">
        <h1 class="login-header">LOGIN</h1>
        <form class="login-form" action="" method="post">
          <div class="form-input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-input">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember me</label>
          </div>
          <input type="submit" id="login-button" value="Login">
        </form>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>
</body>
</html>

