<!DOCTYPE html>
<html lang="en">
  <head>
		<script src="/javascript/errorBox.js" defer></script>
	</head>
    <%- include("partials/head", { title: "Login"}) %>
    
    <body>
      <header><%- include("partials/header") %></header>
      <div id="login">
        <div id="login-container">
          <figure id="login-image">
            <a href="home" id="logo">
              <img src="images/wizard.png" alt="Logo">
            </a>
          </figure>
          <div class="login">
      <div class="card">
        <h1 class="login-header">LOGIN</h1>
        <% if(triedToLogin) { %>
          <p>The username or password is incorrect!</p>
        <% } %>
        <form class="login-form" action="/login" method="post">
          <div class="form-input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-input">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember me</label>
          </div>
          <input type="submit" id="login-button" value="Login">
          <input type="button" id="signup-button" value="Registreer" onclick="window.location.href='register'">
        </form>
      </div>
    </div>
  </div>
  </div>
  <%- include("partials/footer") %>
</body>
</html>

