<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", { title: "Login"}) %>
    
    <body>
        <header><%- include("partials/header") -%></header>
        <main>
            <figure id="login-image">
                <img class="logo" src="images/wizard.png" alt="">
            </figure>
    <div class="login">
        <form class="login-form" action="">
            <div class="form-header">
                <h3>Inloggen</h3>
            </div>
            <!--Email Input-->
            <div class="form-group">
                <input type="text" class="form-input" placeholder="email@example.com">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input type="password" class="form-input" placeholder="password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit">Inloggen</button>
            </div>
            <div class="form-group">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Onthoud mij</label>
            </div>
        </form>
    </div><!--/.wrap-->
        </main>
        <%- include("partials/footer") %>
    </body>
</html>