:root {
	--bg-color-white: #fff;
	--bg-color-purple: #a20da2;
	--bg-color-fire: #ffa07a;
	--bg-color-grey: #363636;
	--bg-color-black: #000000;
}

body {
	background-color: var(--bg-color-grey);

	max-height: 100vh;
	display: flex;
	flex-direction: column;
}

.boven .wrapper,
.onder .wrapper {
	display: inline-block;
	text-align: center;
}

.wrapper a {
	text-decoration: none;
	color: white;
}

.boven figcaption {
	text-decoration: none;
}

.boven img,
.onder img {
	display: block;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-bottom: 1.1rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.nav li {
	margin: 0 10px;
}

.nav a {
	color: var(--bg-color-purple);
	font-size: xx-large;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s ease; /* Overgang voor onderstreping */
	font-weight: bolder;
	padding-bottom: 0.5rem;
}

.uppernav {
	text-decoration: none;
	color: var(--bg-color-white); /* Wit */
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s;
}

.uppernav:hover {
	border-bottom: 2px solid var(--bg-color-fire); /* Vuurachtige kleur */
}

footer {
	display: block;
	text-align: center;
	background-color: var(--bg-color-purple);
	color: var(--bg-color-white);
	padding: 20px 0 20px 0;
	margin-top: auto;
}
footer h1{
	font-size: larger;
  }
form {
	display: flex;
	justify-content: center;
}

form input {
	border-radius: 7px;
	background-color: var(--bg-color-white);
	color: var(--bg-color-black);
}

form button {
	margin-left: 10px;
	border-radius: 7px;
	background-color: var(--bg-color-purple);
	color: var(--bg-color-black);
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px;
}

.container img {
	width: 200px;
	border-radius: 12px;
}

.container article {
	margin: 25px;
}

/*Login page*/

#login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px); /* Assuming your header height is 60px */
	margin-bottom: 2rem;
  }
  
  #login-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  
  #login-image {
	display: flex;
	justify-content: center;
	margin-right: calc(15%); /* Adjust the percentage value to your liking */
  }
  
  
  #login-image img {
	height: 250px;
	width: 250px;
  }
  
  .login {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	padding: 2rem;
	width: 400px;
	max-width: 500px;
	background-color: #1996DF;
	padding: 20px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #1c0200;
	margin-right: 12rem;
  }
  
  .login h1 {
	margin-bottom: 1rem;
  }
  
  .login form {
	display: flex;
	flex-direction: column;
	width: 100%;
  }
  
  .login .form-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
  }
  
  .login .form-input label {
	margin-bottom: 0.5rem;
  }
  
  .login .form-input input[type="text"],
  .login .form-input input[type="password"] {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .login .form-input input[type="checkbox"] {
	margin-right: 0.5rem;
  }
  
  .login .form-input label[for="remember"] {
	display: inline;
  }
  
  .login .form-input input[type="submit"] {
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 1rem;
  }
  
  #login-button {
	background-color: #025686;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 0px 5px 5px #055ff0(0, 0, 0, 0.3);
	transition: all 0.3s ease;
  }
  
  #login-button:hover {
	background-color: #025686;
	box-shadow: 0px 8px 8px #055ff0(0, 0, 0, 0.3);
  }
  
  .form-input label[for="remember"] {
	display: block;
	margin: 0 auto;
	text-align: center;
  }  

.login-header {
	text-align: center;
	font-size: 2em;
  }
  #signup-button {
	background-color: #025686;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 0px 5px 5px #025686(0, 0, 0, 0.3);
	transition: all 0.3s ease;
  }
  
  #signup-button:hover {
	background-color: #1422a0;
  }
  
/*Einde login*/
/* Register*/
#register-button {
	background-color: #025686;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 0px 5px 5px #025686(0, 0, 0, 0.3);
	transition: all 0.3s ease;
  }
/*End register*/


/*drawtest css*/

@media (min-width: 50em){
	.drawtest-grid {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

.deck-choser-grid {
	grid-column: 2;
	grid-row: 1;

	margin-right: auto;
	margin-top: 7rem;

	align-self: center;
	justify-self: center;
	text-align: center;

	height: 60px;
	width: 250px;

	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 5px;
}

.drawpercentage-grid {
	grid-column: 2;
	grid-row: 1;
	margin-right: auto;
	margin-top: auto;

	align-self: center;
	justify-self: center;

	height: 43px;
	width: 240px;

	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 5px;
}

.track-grid {
	grid-column: 2;
	grid-row: 1;
	margin-right: 0.5rem;
	margin-top: auto;

	align-self: center;
	justify-self: center;

	height: 50px;
	width: 100px;
	background-color: #a20da2;
	color: white;

	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 5px;
}

.drawpercentage-display-grid {
	grid-column: 2;
	grid-row: 1;
	margin-top: auto;
	margin-left: 10rem;
	margin-bottom: 1rem;

	align-self: center;
	justify-self: center;
	color: white;
}

.drawpile-grid {
	grid-column: 2;
	grid-row: 2;
	margin-right: auto;
	margin-bottom: auto;

	align-self: center;
	justify-self: center;

	height: 310px;
	width: 210px;
}

.btn-draw-grid {
	grid-column: 2;
	grid-row: 2;
	margin-bottom: auto;
	margin-top: 5rem;

	align-self: center;
	justify-self: center;

	height: 60px;
	width: 80px;
	background-color: #a20da2;
	color: white;

	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 5px;
}

.btn-reset-grid {
	grid-column: 2;
	grid-row: 2;
	margin-top: auto;
	margin-bottom: 5rem;

	align-self: center;
	justify-self: center;

	height: 60px;
	width: 80px;
	background-color: #a20da2;
	color: white;

	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 5px;
}

.discardpile-grid {
	grid-column: 2;
	grid-row: 2;
	margin-left: auto;

	align-self: center;
	justify-self: center;

	height: 310px;
	width: 210px;
}
/*einde drawtest css*/

/*Landing page*/

.container-landing {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #99baec;
	box-sizing: border-box;
}

#heading-Landing {
	font-size: 28px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #1c0200;
}

#a-Landing {
	font-size: 28px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #1c0200;
	text-decoration: none;
}

.box {
	margin: 30px;
}

.box a {
	display: block;
	position: relative;
}

.box img {
	display: block;
	width: 250px;
	height: 250px;

	border-radius: 20px;

	object-fit: cover;
}

.box h2 {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

#error-box {
	background-color: #f8d7da;
	border: 5px solid #a33a45;
	border-radius: 5px;
	color: #721c24;
	padding: 10px;
	margin-bottom: 20px;

	animation-name: error;
	animation-duration: 3s;
}

#error-container {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;

	display: flex;
	flex-direction: column;
}

@keyframes error {
	0% {
		opacity: 100;
	}
	80% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}

#paragraph-Landing {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

/*ending landing page*/

/*deck_view css*/

/*.deckview-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}*/

.left{
	width: 120px;
	height: 100px;
}
/* register */
#register{
	color: var(--bg-color-white);
	font-size: larger;
}
